########################
# NODE
########################

node_modules/**
npm-debug.log
**/logs/**


########################
# misc / editors
########################

*~
*#
**/.DS_STORE/**
**/.idea/**
**/tmp/**


########################
# local config
########################
